<div class="container d-flex flex-column align-items-center">
{{#eq render 1 }}
<h4 class="mt-5 text-center">Change password for Smart Taps Platform</h4>
<p>User ID : {{user}}</p>
<form method="post" action="/user-management/set-password" class="row g-5 my-3 px-3" style="max-width: 500px">
  <div class="col-12 mt-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" id="new_password" name="new_password" onblur="validatePassword()">
    <p id="error-message1" style="color: red;"></p>
  </div>
  <input type="hidden" class="form-control" id="user_id" name="user_id" value={{user}}>
  <div class="col-12 mt-3">
    <label for="retypePassword" class="form-label">Retype Password</label>
    <input type="password" class="form-control" id="retype_password" onblur="confirmPassword()">
    <p id="error-message2" style="color: red;"></p>
  </div>
  <div class="col-12 my-4 d-flex justify-content-center">
    <button disabled type="submit" id="submit-button" class="btn btn-success w-50">Change Password</button>
  </div>
</form>
{{/eq}}

{{#eq render 2}}
  <h4 class="my-5 text-center" style="color:red;">Your token is not valid. Please try again from Smart Taps application. </h4>
{{/eq}}

{{#eq render 3}}
  <h4 class="my-5 text-center" style="color:green;">Password modification successful. You can now log in Smart Taps application with your new password.</h4>
  <h4 class="my-5 text-center" style="color:red;">Please close this window/tab from your browser. </h4>
{{/eq}}

{{#eq render 4}}
  <h4 class="my-5 text-center" style="color:red;">Something went wrong. Please try again after some time from Smart Taps application. </h4>
{{/eq}}

</div>

<script>
  function validatePassword() {
    const passwordPolicy = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
    const password = document.getElementById('new_password').value;
    if(password=="") {
      document.getElementById('error-message').innerHTML = "Please provide new password"
    };
    if(password.match(passwordPolicy)){
      document.getElementById('error-message1').innerHTML = ""
    } else {
        document.getElementById('error-message1').innerHTML = "password criteria: <ul> <li>8 to 15 characters </li><li>at least one lowercase and one uppercase letter</li><li>at least one numeric digit and one special character</li></ul>";
        document.querySelector('#submit-button').disabled = true;
    }
  }

  function confirmPassword() {
    const password = document.getElementById('new_password').value;
    const retypePassword = document.getElementById('retype_password').value;
    if(password==retypePassword) {
      document.getElementById('error-message2').innerHTML = "";
      //add button enable 
      document.querySelector('#submit-button').disabled = false;
    } else {
        document.getElementById('error-message2').innerHTML = "Password does not match";
        document.querySelector('#submit-button').disabled = true;
    }
  }
</script>