<div class="something-wrong">
  <h3 class="">Welcome to SMART TAPS Cards!</h3>
  <div>
    <p class="mb-3">There is no detail configured for this card yet.</p>
    If you own this card, please visit your <a href="{{baseUrl}}/">smart taps account</a>
      to configure your card.
    In case you need any support, please mail us <a href="mailto: support@smarttaps.com">support@smarttaps.com</a>
  </div>
</div>