<div class="page-container">
  <div class="call-phone">
    <div class="caption-div">
        Call {{phoneNumber}}
    </div>
    <div class="pulse-button">
      <a href="tel: {{phoneNumber}}" class="btn btn-green btn-animate">
        <i class="fa fa-phone"></i>
        </a>
    </div>

  </div>
</div>


