// $font-family: system-ui;
$font-family: 'Trebuchet MS', sans-serif;
$font-size: 1rem;
// $font-size: 16px;
$theme-color1: #3c6e71;
$theme-color2: #284b63;
$theme-color3: #e07800;
$theme-color4: #ffc685;
$theme-color5: #0860ae;
$theme-color6: #e3f7fa;
$box-bg: #f8faff;
$grey-color: #d9d9d9;
$grey-color1: #8c8c8c;
$grey-color2: #cacaca;
$paragraph-color: #000000;
$brand-color: #d61939;
$white-color: #ffffff;
$black-color: #353535;
$gradient-background-1: conic-gradient(
  at 125% 50%,
  #b78cf7,
  #ff7c94,
  #ffcf0d,
  #ff7c94,
  #b78cf7
);
$gradient-background-2: conic-gradient(
  at 125% 50%,
  #8638fb,
  #006eff,
  #0860ae,
  #0466c9,
  #6a60fb
);
$body-background: conic-gradient(
  at 125% 50%,
  #eae0f8,
  #fec4ce,
  #f9e48c,
  #fcdee4,
  #ddcbf9
);
$gradient-color: linear-gradient(
  38deg,
  rgba(154, 0, 0, 1) 0%,
  rgba(240, 85, 90, 1) 32%,
  rgba(255, 185, 96, 1) 100%
);
$transition: 0.5s;
$gradient-color1: linear-gradient(to right, #568a04, #b1d82b);
$gradient-color4: linear-gradient(to right, #0d442a, #568a04);
$gradient-color2: linear-gradient(to right, #fc3e3e, #b401a2);
$gradient-color3: linear-gradient(to right, #1940aa, #0955d9);
$test-color: #2a9cfe;
