@use 'variables' as v;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$font-family-sans-serif-2: 'Poppins', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;

/*=================Default CSS===================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: v.$font-family;
  border: 0 solid;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: v.$font-family;
  padding: 0;
  margin: 0;
  font-size: v.$font-size;
  position: relative;
  background: #ffffff !important;
  // background: #eaeaea !important;
  min-height: 100vh;

  img,
  svg,
  video {
    max-width: 100%;
    display: block;
  }

  a {
    color: v.$black-color;
    display: inline-block;
    transition: v.$transition;
    text-decoration: none;
    outline: 0;
    background-color: transparent;

    &:hover,
    &:focus {
      color: v.$grey-color;
      text-decoration: none;
    }
  }

  p {
    font-family: Candara, sans-serif;
    color: v.$paragraph-color;
    font-size: 1em;
  }

  p > *:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-family: Candara, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.2ch;
  }

  h5 {
    font-family: Candara, sans-serif;
    font-weight: 600;
  }

  h6 {
    font-family: Candara, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }

  .error-message {
    color: #ff0000;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
  }

  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select .select-disabled {
    color: #cecece;
  }

  .label-text {
    font-size: 0.8em;
    color: v.$grey-color;
  }

  label {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 0.1em;
    color: v.$grey-color1;
  }
  .smaller-label {
    font-size: 0.6em !important;
  }

  .font-small {
    font-size: 0.8rem !important;
  }

  .square-button {
    aspect-ratio: 1/1;
    height: 20px;
    // color: #025129;
  }

  .form-control::placeholder {
    color: v.$grey-color;
  }

  .icon-box {
    padding: 0.5em;
    background: #3c3c3c;
    display: inline-block;
    border-radius: 0.5em;
    color: v.$white-color;
  }

  .circular-button-wrapper {
    .reactive-btn-wrapper {
      height: auto;
    }
    .reactive-btn:not(.no-animation):hover:not(:disabled):not(.disabled) {
      padding: 2px 4px;
      margin-top: 0;
    }
    .circular-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      padding: 1px;
    }
  }

  .reactive-button-wauto {
    .reactive-btn-wrapper {
      min-width: 25px;
      height: auto;
    }
  }

  .reactive-button-50 {
    width: 50px;
    .reactive-btn-wrapper {
      // min-width: 25px;
      width: 50px;
      height: auto;
    }
  }

  .btn-grad-blue {
    background-image: linear-gradient(
      to right,
      #1e3c72 0%,
      #2a5298 51%,
      #1e3c72 100%
    ) !important;
    // margin: 10px;
    padding: 0.5rem 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 45px !important;
    }
  }

  .min-vh-70 {
    min-height: 70vh;
  }
  .min-vh-50 {
    min-height: 50vh;
  }

  .min-vh-30 {
    min-height: 30vh;
  }

  .max-vh-30 {
    max-height: 30vh;
  }

  .mw-800 {
    max-width: 800px !important;
  }

  .max-w-500 {
    max-width: 500px !important;
  }

  .max-vw-50 {
    max-width: 50vw;
  }
  .min-vw-80 {
    min-width: 80vw;
  }

  .min-vw-50 {
    min-width: 50vw;
  }
  .min-vw-30 {
    min-width: 30vw;
  }
  .max-vw-30 {
    max-width: 30vw;
  }
  .max-w-50 {
    max-width: 50%;
  }
  .w-100px {
    width: 100px !important;
  }

  .w-200px {
    width: 200px !important;
  }

  .w-75px {
    width: 75px !important;
  }

  .w-50px {
    width: 50px !important;
  }

  .border-grey {
    border-color: v.$grey-color2 !important;
  }
}

.pointer-div {
  cursor: pointer;
}

.accordion {
  .accordion-button {
    &:hover {
      // background-color: v.$theme-color6;
      border: 1px solid v.$theme-color5;
    }
  }
}

/*=============Custom reusable components============*/
.separator-hr {
  background: linear-gradient(to right, #1e91cf 0%, v.$theme-color2 100%);
  height: 3px;
  width: 100%;
  // position: absolute;
  // bottom: 10px;
}

.border-lt {
  border: 1px solid #cecece;
}

.border-bottom {
  border-bottom: 1px solid #cecece;
}

.important-div {
  cursor: pointer !important;
}

.placeholder {
  cursor: pointer;
  color: v.$white-color;

  &:hover {
    color: v.$theme-color4;
  }
}

.bg-theme {
  background-color: v.$theme-color2 !important;
  color: v.$white-color !important;
}

.button-gradient {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 60px;
  color: v.$white-color;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: transform 0.4s;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 45px;
    background: v.$gradient-color1;
  }

  &:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
  }
}

.button-gradient-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 60px;
  color: v.$white-color;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: transform 0.4s;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 45px;
    background: v.$gradient-color4;
  }

  &:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
  }
}

.button-gradient-disabled {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 60px;
  color: v.$white-color;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: transform 0.4s;
  cursor: not-allowed;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 45px;
    background: v.$paragraph-color;
  }

  &:hover {
  }
}

.button-gradient-1 {
  margin: 0px 0px 5px 0px;
  padding: 0.3em 1em;
  color: v.$white-color;
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: transform 0.4s;

  a {
    color: v.$white-color;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 45px;
    background: v.$gradient-background-2;
  }

  &:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
  }
}

.btn-reveal {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #efefee;
  // background-color: #000;
  background-image: none;
  color: v.$theme-color2;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  // font-size: 100%;
  font-weight: 400;
  // line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  // border: 2px solid v.$theme-color2;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  // padding: 1.1rem 4rem;
  padding: 0.6em 0em;
  position: relative;
  width: 200px;
  // max-width: 250px;

  // width: 400px;
  // text-transform: uppercase;
  &:disabled {
    cursor: default;
  }

  &:-moz-focusring {
    outline: auto;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  [hidden] {
    display: none;
  }

  .new {
    display: inline-block;
    // display: block;
    transform: scale(0);
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  }

  &:hover {
    .new {
      transform: scale(1);
    }

    .old {
      span {
        &:first-child {
          transform: translateY(-100%);
        }

        &:nth-child(2) {
          transform: translateY(100%);
        }
      }
    }
  }

  .old {
    span {
      background: #212121;
      color: #fff;
      // background: #fff;
      // color: #000;
      display: block;
      display: grid;
      place-items: center;

      &:first-child {
        -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
        clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
      }

      &:nth-child(2) {
        -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
      }
    }
  }

  .old-default {
    span {
      background: #04954d;
    }
  }
}

.btn-reveal .new,
.btn-reveal .old span {
  font-weight: 600;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  transition: transform 0.2s;
  white-space: nowrap;
}

.btn-reveal .new {
  font-weight: 400;
}

.btn-reveal .old,
.btn-reveal .old span {
  inset: 0;
  position: absolute;
}

/*=============Reactive Button=========*/
.reactive-btn-wrapper,
.reactive-btn {
  --reactive-button-min-width: 100px;
  --reactive-button-min-height: 35px;
  --reactive-button-font-size: 14px;
  --reactive-button-font-weight: 400;
  --reactive-button-border-radius: 0px;
  --reactive-button-text-color: #ffffff;
  --reactive-progress-color: rgba(0, 0, 0, 0.15);

  --reactive-button-indigo-color: rgb(0, 119, 216);
  --reactive-progress-outline-indigo-color: rgba(3, 105, 188, 0.3);
}

/* indigo button starts */
.reactive-btn.indigo {
  background: var(--reactive-button-indigo-color);
}

.reactive-btn.indigo.outline {
  border-color: var(--reactive-button-indigo-color);
  color: var(--reactive-button-indigo-color);
  border: 1px solid var(--reactive-button-indigo-color);
  box-shadow: inset 0 -1px 0 var(--reactive-button-indigo-color);
  -webkit-box-shadow: inset 0 -1px 0 var(--reactive-button-indigo-color);
  -moz-box-shadow: inset 0 -1px 0 var(--reactive-button-indigo-color);
}

.reactive-btn.indigo.outline .progress {
  background-color: var(--reactive-progress-outline-indigo-color) !important;
}

.reactive-btn.indigo.outline:hover:not(:disabled):not(.disabled) {
  box-shadow: inset 0 -3px 0 var(--reactive-button-indigo-color);
  -webkit-box-shadow: inset 0 -3px 0 var(--reactive-button-indigo-color);
  -moz-box-shadow: inset 0 -3px 0 var(--reactive-button-indigo-color);
}

.reactive-btn.indigo.shadow {
  box-shadow: 0px 5px 16px -3px var(--reactive-button-indigo-color) !important;
}

/* indigo button ends */

/*=============Go Top CSS============*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: -100%;
  color: v.$white-color;
  background-color: v.$theme-color4;
  z-index: 1;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  transition: v.$transition;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: v.$white-color;
    background: v.$theme-color2;
  }

  &.active {
    right: 0;
  }
}

/*===============Navbar==============*/
.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2830, 145, 207, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% !important;

  &:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28130, 30, 207, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--bs-navbar-toggler-icon-bg);
  }
}

.navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

/*=============Image Upload=================*/
.image-preview {
  // height: 10em;
  // width: 10em;
  // aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  border-radius: 0.2em;
  // padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;

  img {
    object-fit: contain;
    border-radius: 0.5em;
    // height: 10em;
    // width: 10em;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  // font-weight: 600;
  color: white;
  background-color: v.$theme-color3;
  display: inline-block;
  cursor: pointer;
  padding: 0.3em 1em;
  border-radius: 25px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: v.$theme-color4;
}

/*=============Booking Form===================*/
.custom-form {
  // max-width: 800px;
  label {
    font-weight: bold;
    display: flex;
  }

  input[type='email'],
  input[type='text'],
  input[type='password'],
  input[type='number'] {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #c3cbd4;
    // background-color: #fafffc;
    color: #2d3748;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
  }

  input[type='email']:disabled,
  input[type='password']:disabled,
  input[type='text']:disabled,
  input[type='number']:disabled,
  textarea:disabled,
  select :disabled {
    background-color: #efefef;
  }

  select {
    margin: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #c3cbd4;
    border-radius: 5px;
    color: #4a5568;
    height: auto;
    background-color: #ffffff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center right 0.5rem;
    width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    select {
      background-color: #2d3748;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23ffffff"/></svg>');
      border-color: #4a5568;
      color: white;
    }
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    border: 1px solid #c3cbd4;
    color: #4a5568;
    border-radius: 5px;
    resize: vertical;
    // background-color: #f7fafc;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
      'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
      sans-serif;
    width: 100%;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #4299e1;
  }

  input:invalid,
  select:invalid,
  textarea:invalid {
    border: 2px solid #ff7d87;
    box-shadow: none;
  }

  input[type='checkbox'] {
    display: inline-block;
    height: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #90cdf4;
    width: 1rem;
    background-color: white;
    align-self: center;
    margin-right: 0.5rem;
  }

  input[type='checkbox']:hover {
    cursor: pointer;
  }

  input[type='checkbox']:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
    background-size: contain;
    background-color: #4a5568;
    border: 2px solid #4a5568;
  }

  input[type='checkbox']:focus-visible,
  input[type='checkbox']:checked:focus-visible {
    border-color: #4299e1;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #90cdf4;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  @media (hover: hover) {
    input[type='radio']:hover {
      cursor: pointer;
    }
  }

  input[type='radio']:checked {
    border: 2px solid #4a5568;
  }

  input[type='radio']:focus-visible,
  input[type='radio']:checked:focus-visible {
    border-color: #4299e1;
  }

  input[type='radio']:checked::before {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #4a5568;
    align-self: center;
    border-radius: 50%;
  }

  // input[type='submit'],
  // input[type='reset'],
  // input[type='button'],
  // button {
  //   padding: 0.5rem 1.25rem;
  //   font-size: 1rem;
  //   border-radius: 10px;
  //   background-color: #4a5568;
  //   border: 2px solid #4a5568;
  //   color: white;
  //   text-decoration: none;
  //   font-weight: bold;
  //   margin-bottom: 1rem;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none;
  //   display: inline-block;
  //   line-height: initial;
  //   transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
  //     transform 200ms ease-in-out;
  //   -webkit-touch-callout: none;
  //   -webkit-user-select: none;
  //   user-select: none;
  // }

  @media (hover: hover) {
    input[type='submit']:hover,
    input[type='reset']:hover,
    input[type='button']:hover
    // button:hover
    {
      cursor: pointer;
      background-color: #2d3748;
    }
  }

  @media (hover: hover) and (prefers-color-scheme: dark) {
    input[type='submit']:hover,
    input[type='reset']:hover,
    input[type='button']:hover,
    button:hover {
      cursor: pointer;
      background-color: #90cdf4;
    }
  }

  button:focus-visible,
  input[type='submit']:focus-visible,
  input[type='reset']:focus-visible,
  input[type='button']:focus-visible {
    border-color: #4299e1;
    outline: none;
  }

  .accordion-button {
    color: v.$theme-color1;
    padding: 10px;
    &:hover {
      z-index: 2;
    }
  }

  .custom-width-50 {
    min-width: 50vw;
  }
  @media only screen and (max-width: 576px) {
    .custom-width-50 {
      min-width: 80vw;
    }
  }

  .css-1dimb5e-singleValue {
    // color: v.$grey-color;
  }

  .q-error {
    .ql-container.ql-snow {
      border: 3px solid #c00;
    }

    .ql-toolbar.ql-snow {
      border: 3px solid #c00;
    }
  }
}

.arrow-hidden {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

/*===============Edit Component================*/
.edit-component {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &::after {
      display: none;
    }

    &:hover {
      transform: rotateX('150deg');
    }
  }

  .dropdown-menu-custom {
    background-color: v.$black-color;
    min-width: 200px;
    border-radius: 0;
    padding: 0;
  }

  .btn {
    text-align: center;
    padding: 0.5em 0;
    margin: 0.2em 0;
    max-width: 200px;
    cursor: pointer;
  }

  .btn-one {
    color: #fff;
    background-color: v.$black-color;
    // background-color: #1e91cf;
    transition: all 0.3s;
    position: relative;

    span {
      transition: all 0.3s;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba(255, 255, 255, 0.5);
      border-bottom-color: rgba(255, 255, 255, 0.5);
      transform: scale(0.1, 1);
    }

    &:hover,
    &:focus {
      span {
        letter-spacing: 1px;
      }

      &::before {
        opacity: 1;
        transform: scale(1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale(0.1, 1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .btn-three {
    color: #fff;
    transition: all 0.5s;
    position: relative;
    display: flex;
    justify-content: space-around;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s;
    }

    &:hover {
      &::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }

      &::after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: scale(1.2, 1.2);
    }
  }
}

.guest-section {
  .accordion-button {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &::after {
      background-size: 0.8rem;
    }
  }
}

.visit-booking {
  font-weight: 200;
  color: #7a7a7a;
}

.checkout-form {
  label {
    color: v.$black-color;
    font-size: 1rem;
  }
}

/*=====================signin=================*/
.signin form button,
.signin > div button {
  width: auto !important;
}
.signin {
  .card {
    .provider {
      form {
        .button {
          width: 200px !important;
          background-image: linear-gradient(
            to right,
            #314755 0%,
            #26a0da 51%,
            #314755 100%
          );
          margin: 10px;
          padding: 15px 45px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;
          box-shadow: 0 0 20px #eee;
          border-radius: 10px;
          display: block;
          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/*===================Room Status===============*/
.room-status {
  .scrolling-container {
    width: 100%;
    overflow-x: auto;

    .date-container {
      display: flex;
      border: 1px #cecece solid;

      .date-header {
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 1px #cecece solid;
        background-color: #ececec;
        padding: 0 5px;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
      }

      .gap-100 {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 5px #acacac solid;
      }
    }

    .component-header {
      margin: 2px;
      padding-left: 5px;
      flex-basis: 200px;
      flex-grow: 0;
      flex-shrink: 0;
      border-right: 5px #acacac solid;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 0.8rem;
    }

    .roomtype-container {
      display: flex;

      .room-container {
        border-bottom: 1px #cecece solid;
        display: flex;
        width: 100%;

        .room-header {
          flex-basis: 100px;
          flex-grow: 0;
          flex-shrink: 0;
          border-right: 5px #acacac solid;
        }

        .room-status {
          flex-basis: 50px;
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .room-booked {
          background-color: #fff2b1;
        }
        .room-provisioned {
          background-color: #93f4ff;
        }
        .room-available {
          background-color: #ffffff;
        }
        .room-unavailable {
          background-color: #ff9393;
        }

        .btn-available {
          background-image: linear-gradient(
            to right,
            #eeeeee 0%,
            #ffffff 51%,
            #eeeeee 100%
          );
          padding: 5px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          transition: 0.2s;
          background-size: 200% auto;
          color: white;
          box-shadow: 0 0 20px #eee;
          display: flex;
          justify-content: center;

          &:hover {
            box-shadow: 0 10px 5px -10px rgba(#000, 0.4);
            transform: translateY(1px);
          }
          &:active {
            transform: translateY(-1px);
            transition: 0.1s;
            background-image: linear-gradient(
              to right,
              #a1a1a1 0%,
              #a1a1a1 100%
            );
          }
        }

        .btn-provisioned {
          background-color: #ffe26f;
          padding: 5px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          transition: 0.2s;
          background-size: 200% auto;
          color: white;
          box-shadow: 0 0 5px #b59e30;
          display: flex;
          justify-content: center;

          &:hover {
            box-shadow: 0 10px 5px -10px rgba(#000, 0.4);
            transform: translateY(1px);
          }
          &:active {
            transform: translateY(-1px);
            transition: 0.1s;
            background-color: #ffcc00;
          }
        }

        .btn-booked {
          background-color: #2a60c3;
          padding: 5px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          transition: 0.2s;
          background-size: 200% auto;
          color: white;
          box-shadow: 0 0 5px #1e3c72;
          display: flex;
          justify-content: center;
          &:hover {
            box-shadow: 0 10px 5px -10px rgba(#000, 0.4);
            transform: translateY(1px);
          }
          &:active {
            transform: translateY(-1px);
            transition: 0.1s;
            background-color: #00318d;
          }
        }
      }
    }
  }
}
